.git
.gitignore
.dockerignore
storage/
*.db
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
*.zip
*.tar.gz
*.tgz
*.rar
